h1,a{
    color:hotpink;
}
p a{
    color:green;
    font-size: 45px;
}#_eu{
    color:orangered;
}

.luana{
    color:palevioletred;
}
.akisha{
    font-size: 54px;
}

.julia{
text-decoration: underline;
}